body{
    background-color:rgb(97, 92, 92);
}
.text-medium{
    font-size: 25px;   
    color: aliceblue; 
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
}
.text-large{
    text-align: center;
font-size: 50px;   
color: aliceblue; 
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight:1000;
margin: auto;
font-stretch: expanded;
}
.text-medium1{
    text-align: center;
    font-size: 25px;   
    color: aliceblue; 
    font-family: "Helvetica Neue",Helvetica;
    font-weight:900;
    margin: auto;
}
.topsection{
 display:block;
 margin-left: -10px;
 margin-top: -20px;
 text-align: center;
}
.icon{
    display:inline-block;
    text-align: left;
    margin-right:25px;
    margin-top: 140px;
}
.icon>img{
    width:120px;
    height: 120px;
    border:solid whitesmoke;
    border-width:5px;
    border-radius:50%;
}
.textsection
{display:inline-block; 
 text-align:right;
}
.obese{
    color:hsl(0, 98%, 64%);
    font-size:100px;
    font-family: "Helvetica Neue",Helvetica;
    font-weight:1000;margin:auto;margin-bottom:-20px;

}
.child{
    color:white;
    font-size:35px;
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    margin-right:150px;
    font-weight: bold;
    font-stretch:condensed;
}
.flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top:100px;
}
.f1{
    display: inline-flex;
    flex-direction: row;
    margin-left: 245px;
}
.flex11{
    background-color: rgb(252, 170, 19);
    padding:60px;
}
.flex12{
    background-color: rgb(38, 145, 245);
    padding:60px;
}
.images{
    white-space: nowrap;
    display: inline-block;
    margin-left: 100px;
}
.images>img{
display:block;
float: left;
width: 50px;
height: 50px;
}
.images1>img{
    float: left; 
    margin-left: 30px;
    margin-right: -90px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
images1>p{
    text-align: justify;
}
.f2{
    background-color: rgb(255, 73, 112);
    width: 850px;
    height:300px;
    margin-top: 100px;
    margin-left: 245px;
    padding:15px;
    justify-content: space-evenly;
}
.horizontal-align {
	display: inline-block;
	vertical-align: top;
    width: auto;
	height: auto;
    margin-right:-20px;
    text-align:center;

}

.item {
    display: inline-block;
    vertical-align: top;
    height: auto;
    text-align: center;
}
.item>img{
    width: 80px;
    height: 80px;
    margin: 45px;margin-top:15px;
}
.caption {
    margin-top: -40px;
    display: block;
}
.f21{
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    background-color: rgb(255, 73, 112);
    justify-content: space-evenly;
}
.fl{
    margin-top: 30px;
    margin-left: 50px;
}
.f3{
    background-color: rgb(38, 145, 245);
    display: inline-flex;
    width: 880px;
    height: 400px;
    margin-top: 100px;
    margin-left: 245px;
    flex-direction: column;
    justify-content: space-evenly;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.image2{
    width: 50px;
    height: 50px;
    margin-top:20px;
    margin-right:550px;
    float: right;
}
.flex-row{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.topattr{
    margin-top: 100px;
}
.topattr1{
    margin-top: -5px;
}
.image-gen{
    width: 90px;
    height: 90px;
    margin-left: 140px;
}
.pink{
    background-color: rgb(255, 73, 112);
}
.leftattr{
    margin-left:120px;
}
.leftattr1{
    margin-left:245px;
}
.leftattr2{
    margin-left:-100px;
}
.wide-height{
    width:760px;
    height:150px;
    justify-content: space-evenly;
}
.image3{
    width: 150px;
    height: 150px;
}
.wide{
    width: 320px;
}
.block3{
    display: inline-block;
}